<nav>
	<div class="nav-bar" id="bar-top">
	    <p id="menu" ng-click="respond()">&#9776;</p>
	    <p>Skoden Chronicles</p>
	</div>
	<div id="nav">
		<ul class="nav-links" id="nav-list">
			<li><a ui-sref="root.listen-to">Listen</a></li>
			<li><a ui-sref="root.read">Read</a></li>
			<li><a ui-sref="root.team">Team</a></li>
			<li><a ui-sref="root.home"><img id="home-logo" src="../static/img/logo.png"/><span id="home-text">Home</span></a></li>
			<li><a ui-sref="root.resources">Resources</a></li>
			<li><p id="open-modal">Support</p></li>
			<li><a ui-sref="root.contact">Contact</a></li>
		</ul>
	</div>
	<div class="nav-bar">
		<p id="menu" ng-click="respond()">&#9776;</p>
		<p>Skoden Chronicles</p>
	</div>
</nav>