
<div class="modal-content">
	<div class="modal-header">
		<span class="close"><img src="../static/img/icons/cancel.png"/></span>
		<h3>Show your Support</h3>
	</div> <!-- end modal-header -->
	<div class="modal-body">
		<div id="modal-left">
			<a href="#" target="_blank" class="patreon-link">
				<img src="../static/img/social-media/patreon_logo.png"/>
				<p>Become a Patreon!</p>
			</a>
			<p class="center small bold">Can't afford it right now? <a href="#">How about a 5-star rating on iTunes instead.</a></p>
  		</div> <!-- end modal-left -->
  		<div id="modal-right">
			<h4>Look...</h4>
			<p>We get the irony in trying to capitalize off of podcasts focusing on decolonization. We really do, but your contributions will help with such costs as:</p>
			<ul>
				<li>Web and hosting space</li>
				<li>Maintaining our gear</li>
				<li>Brining in more special guests!</li>
			</ul>
			<p>Your $1, $5, or $10 monthly donation will go along way to support independent indigenous programming.</p>
			<p>You'll also get some great stuff for doing it, so really.. it's not like we're not like your band council. We'll put your money to good use.</p>
		</div> <!-- end modal-right -->
	</div> <!-- end modal-body -->
</div> <!-- end modal-content -->
