<div class="flex-inner">
	<ul class="social-media">
	   		<li><a href="#" target="_new"><img src="../static/img/social-media/facebook-icon.png" alt="Facebook"/></a></li>
			<li><a href="#" target="_new"><img src="../static/img/social-media/twitter-icon.png" alt="Twitter" /></a></li>
  		<li><a href="#" target="_new"><img src="../static/img/social-media/rss-icon.png" alt="RSS Feed" /></a></li>
  		<li><a href="#" target="_new"><img src="../static/img/social-media/instagram-icon.png" alt="Instagram" /></a></li>
    	<li><a href="#" target="_new"><img src="../static/img/social-media/soundcloud-icon.png" alt="SoundCloud" /></a></li>
    	<li><a href="#" target="_new"><img src="../static/img/social-media/itunes-icon.png" alt="iTunes" /></a></li>
	</ul>
	<h2 id="page-title">{{title}}</h2>
</div> <!-- end flex-inner -->